

<body>
        
   
<div style="color:White;" class= "container" >


    <h3 align= "center">Nokwethemba Ntombela</h3>
    <h3 align= "center">Developer</h3>
    <div>
    <img src="../assets/nono.jpg"width=200px height=200px>  
    
    
    </div>
    
    <h2 style="color:White;">Personal Details</h2>
    
    <Strong>Contact: </Strong> 0818512319 <br>
    <Strong>Email: </Strong>:thembelihlentombela55@gmail.com <br><br>

    <h2 style="color:White;">Social Media</h2>
    
    <Strong>linkedin</Strong> <br>
    www.linkedin.com/nokwethemba

    <h2 style="color:White;">Skills</h2>
    
    Analystical Thinking<br>
    
    Business analysis<br>
    
    system information strategy<br>
    
    Communication Skills<br>
   
    Agile methodology for software development<br>
   
    Leardership skills
   
    <h2 style="color:White;">Software</h2>
    
    Oracle<br>


    visual studio<br>
    <div style = "width:30%" class="meter">
            <span style="width: 75%"></span>
          </div>
    Java<br>
    <div style = "width:30%" class="meter">
            <span style="width: 75%"></span>
          </div>
    HTML<br>
    <div style = "width:30%" class="meter">
            <span style="width: 75%"></span>
          </div>
    PLSQL<br>
    <div style = "width:30%" class="meter">
            <span style="width: 75%"></span>
          </div>
    Microsoft Office
    <div style = "width:30%" class="meter">
            <span style="width: 75%"></span>
          </div>
    <h2 style="color:White;">Achievement</h2>
    
IBM : mobile application development <br>
IBM : Business intelligence




    <div style="color:black;"     class= "containerp">

    
        
        I am a professional student who has completed her 3-year National Diploma in Information Technology.
        I am a committed and a broad-minded young woman who works very well under pressure with good communication skills. I challenge myself to improve my abilities to objectively communicate with people, stakeholders and work well in teams to achieve a certain goal or objective.
        I am an energetic and honest person who has a mature and responsible approach to any task I undertake or any situation that I am presented with.  
        
        


        <!-- <hr align="left" width="50%"> -->
            <hr><b>Experience</b>   <hr>
                I am an intern at Mlab Soweto Kasilab working together with innovation hub for a minimum of six months of training and learning development software,
                the program is called code tribe.
        
                <hr> <b>Project</b><hr>
            <p>Company : Ambio Water testing Lab</p>
            <p>Role: Analysts and developer</p>
            <p>Duties: Scope defining <br> lock down requirements <br> analysis<br> Usecases</p>
    
      
    


        <hr> <b>Education</b><hr>

        <p>Qualifications :National diploma information technlogy </p>
        <p>School : Vaal Univeristy of Technology</p>
        <p>Major subjects:Business Analysis, Development Software</p>
        <p>Year : 2017</p>
   
    <hr>
     <p>School: Northview HighSchool</p>
     <p>Subjects: Math and Science</p>
     <p>Year : 2012</p>
    
   
    
     <hr><b> Reference</b><hr>
        
        <p> Name : Herman</p>
        <p> Company : Ambio Water testing Lab</p>
        <p> Position: Technician</p>
        <p> Contact:0827264739</p>

     

      </div>


<div style="color:black;" class ="codate">
    
2018<br>
<br>
<br>
<br>
<br>
<br><br>2017<br><br><br><br><br><br><br><br><br><br><br>2014 - <br>2017<br><br>

<br><br><br><br><br><br><br>2010 - <br>2012




    </div>

</div>

  
</body>